
.main-page {
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.background-image{
  position: absolute;
  top: 0;
  height: 1024px;
  left: 573px;
  width: 1000px;
  object-fit: cover;
}

.logo-wrapper {
  position: absolute;
  top: 78px;
  left: 80px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-blue-200);
  box-sizing: border-box;
  height: 57px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
  color: #8d8d8d;
}

.create-an-account {
  top: 203px;
  font-size: 25px;
  font-weight: 500;
}
.create-an-account,
.email,
.password ,
.email-input,
.password-input,
.create-account,
.continue-with-google{
  position: absolute;
  left: 80px;
  line-height: 15px;
  width: 413px;
}

.email{
  top: 270px;
}
.email-input {
  top: 298px;
}
.password {
  top: 378px;
}
.password-input{
  top: 405px;
}
.signin {
  color: var(--color-blue-100);
}

.email-input ,
.password-input {
  font-size: 17px;
  font-family: var(--font-poppins);
  border: 2px solid var(--color-blue-200);
  background-color: var(--color-white);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 65px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.create-account {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-xl);
  background-color: var(--color-blue-100);
  top: 515px;
  height: 65px;
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}


.create-account-text{
  flex: 1;
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 17px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.terms {
  text-decoration: underline;
}

.forgot-password{
  text-decoration: underline;
  position: absolute;
  left: 330px;
  top: 590px;
  cursor:pointer;
}
.by-creating-container {
  text-decoration: none;
  position: absolute;
  top: 590px;
  left: 80px;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  display: inline-block;
  width: 361px;
  cursor: pointer;
}

.or {
  position: absolute;
  top: 654px;
  left: 276px;
  line-height: 17px;
}

.continue-with-google {
  cursor: pointer;
  border: 2px solid var(--color-blue-100);
  padding: var(--padding-lg) var(--padding-xl);
  background-color: var(--color-white);
  top: 702px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.continue-with-google-text {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 17px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.already-have-an-account {
  text-decoration: none;
  position: absolute;
  top: 791px;
  left: 135px;
  line-height: 10px;
  cursor: pointer;
}





.gradient-button-text{
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: left;
}
.ai-wrapper,
.d-elements-wrapper,
.icons-wrapper,
.illustrations-wrapper,
.images-wrapper,
.ui-kits-wrapper {
  cursor: pointer;
  border: solid rgba(128, 126, 0, 0.763) 2px;
  padding: var(--padding-3xs) var(--padding-21xl);
  position: absolute;
  background: transparent;
  border-radius: 10px;
  /* background: linear-gradient(
    90deg,
    #fff,
    rgba(196, 196, 97, 0.934) 40.65%,
    rgb(161, 180, 121)
  ); */
  box-shadow: 0 4px 44px rgba(177, 177, 177, 0.35) inset;
  backdrop-filter: blur(20px);
  width: 200px;
  height: 65px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.ai-wrapper,
.icons-wrapper{
  left: 680px;
}
.d-elements-wrapper,
.illustrations-wrapper{
  left: 920px;
}
.images-wrapper,
.ui-kits-wrapper {
  left: 1160px;
}

.ai-wrapper,
.illustrations-wrapper,
.ui-kits-wrapper{
  top :462px;
}

.d-elements-wrapper,
.icons-wrapper,
.images-wrapper {
  top: 562px;
}





@media (max-width: 573px) {
  .ai-wrapper,
  .d-elements-wrapper,
  .icons-wrapper,
  .illustrations-wrapper,
  .background-image,
  .images-wrapper,
  .ui-kits-wrapper {
    display: none;
  }

}

@media (max-width: 520px){
  .ai-wrapper,
  .d-elements-wrapper,
  .icons-wrapper,
  .illustrations-wrapper,
  .background-image,
  .images-wrapper,
  .ui-kits-wrapper {
    display: none;
  }


.email-input,
.create-account,
.continue-with-google,
.password-input{
  width: 380px;
  left:40px;
}
.already-have-an-account{
  left: 85px;
}
.email,
.password,
.by-creating-container,
.logo-wrapper,
.create-an-account{
  left:40px;
}
.or{
  left: 220px;
}
}

@media (max-width: 430px){
  .ai-wrapper,
  .d-elements-wrapper,
  .icons-wrapper,
  .illustrations-wrapper,
  .background-image,
  .images-wrapper,
  .ui-kits-wrapper {
    display: none;
  }
.email-input,
.create-account,
.continue-with-google,
.password-input{
  width: 350px;
  left:35px;
}
.already-have-an-account{
  left: 65px;
}
.email,
.password,
.by-creating-container,
.logo-wrapper,
.create-an-account{
  left:35px;
}
.or{
  left: 205px;
}

}