.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #589ca4;
  height: 80px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.search-form button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.navbar-right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin-left: 20px;
}

.navbar-right li:first-child {
  margin-left: 0;
}

.navbar-right a {
  text-decoration: none;
  color: #070303;
  font-size: 18px;
}

.navbar-right a:hover {
  color: #007bff;
}


@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .navbar-left {
    margin-bottom: 20px;
  }

  .navbar-right {
    margin-top: 20px;
  }

  .search-form input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .search-form button {
    width: 100%;
  }

  .navbar-right ul {
    flex-direction: column;
  }

  .navbar-right li {
    margin: 10px 0;
  }
}