.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: #f5f5f5;
}

.signup main {
  background-color: #4f99b856;
  padding: 40px ;
  height: 60vh;
  border-radius: 10px;
 
}

.signup main h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}

.signup label {
  font-size: 22px;
  margin-bottom: 10px;
 
}

.signup input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 2px solid #2790b0d9;
  border-radius: 10px;
}

.signup input:focus {
  outline: none;
  border-color: #265732e8;
}

.signup button {
  display: block;
  padding: 12px 24px;
  margin-top: 10px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #58718b7c;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.signup button:hover {
  background-color: #007bff;
}

@media only screen and (max-width: 768px) {
  .signup main {
    padding: 20px;
  }

  .signup main h2 {
    font-size: 30px;
  }

  .signup label {
    font-size: 20px;
  }

  .signup input {
    font-size: 16px;
  }

  .signup button {
    font-size: 16px;
  }
}
