.welcome {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 50px;
  }
  
  .welcome-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .welcome-content p {
    font-size: 24px;
    text-align: center;
    max-width: max-content;
  }

  .welcome-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #120b0b;
    background-color: #58718b7c;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    margin: 0 10px;
  }
  
  .button:hover {
    background-color: #007bff;
  }
  
  @media only screen and (max-width: 768px) {
    .welcome-content {
      padding: 20px;
    }
  
    .welcome-content h1 {
      font-size: 36px;
    }
  
    .welcome-content p {
      font-size: 18px;
    }
  }
  